/Tikbits_Desktop/nbproject/private/
/Tikbits_Desktop/build/
/Tikbits_Desktop/dist/
/Tikbits/nbproject/private/
/Tikbits/build/
/Tikbits/dist/
/Tikbits_Android/nbproject/private/
/Tikbits_Android/build/
/Tikbits_Android/dist/